<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/login">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="#">contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="#">about</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="#">Help</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="#">Logout</a>
  </li>
</ul>
<section class="form mx-5 my-5">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-5">
        <img
          src="https://www.pngitem.com/pimgs/m/274-2748802_transparent-tech-support-icon-png-admin-login-images.png"
          class="image-fluid"
        />
      </div>
      <div class="col-lg-7 px-5 pt-5">
        <h1 class="font-weight-bold py-3">Logo</h1>
        <h4>Register here</h4>
        <form>
          <div class="form-row">
            <div class="col-lg-7">
              <input
                type="text"
                placeholder="Enter your name"
                class="form-control my-4 p-3"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="col-lg-7">
              <input
                type="email"
                placeholder="Email-Address"
                class="form-control my-4 p-3"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="col-lg-7">
              <button type="button" class="btn1 mt-3 mb-5">Register</button>
            </div>
          </div>
          <a routerLink="/forgot-password">Forgot Password</a>
          <p>Already have an account? <a routerLink="/login">Login</a></p>
        </form>
      </div>
    </div>
  </div>
</section>
