<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/login">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="#">contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="#">about</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="#">Help</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">Logout</a>
  </li>
</ul>
<section class="form my-5 mx-5">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-5">
        <img
          src="https://www.pngitem.com/pimgs/m/274-2748802_transparent-tech-support-icon-png-admin-login-images.png"
          class="image-fluid"
        />
      </div>
      <div class="col-lg-7 px-5 pt-5">
        <h1 class="font-weight-bold py-3">Logo</h1>
        <h4>Sign in your account</h4>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="col-lg-7">
              <input
                type="email"
                placeholder="Email-Address"
                class="form-control my-4 p-3"
                formControlName="email"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="col-lg-7">
              <input
                type="password"
                placeholder="******"
                class="form-control my-4 p-3"
                formControlName="password"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="col-lg-7">
              <button type="submit" class="btn1 mt-3 mb-5">Login</button>
            </div>
          </div>
          <a routerLink="/forgot-password">Forgot Password</a>
          <p>Don't have an Account? <a routerLink="/register">Register</a></p>
        </form>
      </div>
    </div>
  </div>
</section>
