<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/login">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="./contact">contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="./about">about</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="./help">Help</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="logout()">Logout</a>
  </li>
</ul>
